.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 10px 20px;
  height: 60px;
}

.navbar--title {
  font-size: 24px;
}

.navbar--links {
  display: flex;
  align-items: center;
}

.navbar--links--cont {
  margin: 0 10px;
  font-size: 20px;
}

/* Media query for screens with a maximum width of 768px (typical tablet screens) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar--title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .navbar--links {
    margin-top: 10px;
  }

  .navbar--links--cont {
    margin: 0 5px;
    font-size: 16px;
  }
}

/* Media query for screens with a maximum width of 576px (typical mobile screens) */
@media (max-width: 576px) {
  .navbar--title {
    font-size: 18px;
  }

  .navbar--links--cont {
    margin: 0 5px;
    font-size: 14px;
  }
}